html,body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.bkgd {
background-color: rgb(31, 1, 116);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100vw;
height: 100vh;
}

#bgfloor {
	background: url(../images/floor.png) no-repeat bottom center fixed;
	height: 100%;
}
